<header class="site-header">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="col-xs-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="site-title" href="/"><img src="images/icon-1.png" alt="{{ site.title }}"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#que-content">Qué</a></li>
            <li><a href="#quien-content" class="primary">Quién</a></li>
            <li><a href="#manifiesto-content" class="salmon">Manifiesto</a></li>
            <li><a href="#contacto" class="blue">Contacto</a></li>
            <li><a href="#redes" class="brown">Síganos</a></li>
          </ul>
        </div>
      </div>      
    </div>
  </nav>
</header>
