<div id="que" class="div-red section less-padding">
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<div class="que-content text-center">
					<img src="/images/arrow.png" alt="arrow" />
					<h2 id="que-content">En qué creemos y cómo lo hacemos</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="div-dark-red section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 text-center">
				<p class="big">Creemos que la vida es un camino en el que debemos movernos acompañados. Por eso usamos el poder de las palabras para compartir con empresarios nuestra experiencia de años en el sector empresarial, los talentos que tenemos y los valores fundamentados en las enseñanzas de La Biblia; y así tocar empresas y cambiar vidas.</p>
			</div>
		</div>
	</div>
</div>