<div id="quien" class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4">
			</div>
			<div class="col-xs-8 medium div-blue">
				<div class="row">
					<div class="col-xs-12 col-md-10">
						<div id="quien-content" class="div-blue-content">
							<h2>Carlos Cordero</h2>
							<p>Ver la empresa desde un punto de vista integral, tomando en cuenta la parte técnica y con un nuevo enfoque al rol de las personas. Esta es la aproximación que tiene Carlos Cordero de la vida empresarial.</p>

							<p>Así, esta forma alternativa de entender los negocios no se centra en construir organizaciones en las que generar dinero es lo más importante, sino que se centra en hacer el máximo de bien que podamos a las personas que conforman el equipo y a quienes toca nuestro trabajo.</p> 

							<p>Motivado por una curiosidad inagotable y un interés por transmitir la complejidad de la vida en las empresas, Carlos Cordero ha estudiado y analizado las distintas corrientes de gestión empresarial en el mundo desde que era un joven estudiante en la Universidad de Costa Rica y cuando se especializó en el Seminario Teológico Esepa. Recorre regularmente a las teorías modernas hasta su libro favorito de consulta: La Biblia.</p> 

							<p>Compartir esta pasión lo ha llevado a recorrer Latinoamérica, comunicando un mensaje que quiere tocar la mayor cantidad de vidas.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>