<div class="social-links hidden-xs">
	<div data-spy="affix" data-offset-top="840" data-offset-bottom="200">
		<ul class="list-unstyled">
			<li>
				<a href="http://facebook.com/{{ site.facebook }}" title="Vida de Dios en la Empresa en Facebook" target="_blank">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="https://instagram.com/{{ site.instagram }}" title="Vida de Dios en la Empresa en Instagram" target="_blank">
					<i class="fa fa-instagram"></i></a>
			</li>
			<li>
				<a href="http://youtube.com/user/{{ site.facebook }}" title="Vida de Dios en la Empresa en Youtube" target="_blank">
					<i class="fa fa-youtube"></i>
				</a>
			</li>
			<li>
				<a href="{{ site.blog }}" title="Blog de Vida de Dios en la Empresa" target="_blank">
					<i class="fa fa-list-ul"></i>
				</a>
			</li>
		</ul>
	</div>
</div>