---
layout: blog
title: Blog
---
{% for post in site.categories.blog  limit: 1 %}
	<div class="hero">
    <div class="container text-center">
    	<div class="row text-center">
    		<a href="{{ post.url }}">
					<img src="/images/blog/{{ post.full-image }}" class="img-responsive img-first-post" alt="{{ post.title }}" />
				</a>
			</div>
      <h1>{{ post.title }}</h1>
      <a href="{{ post.url }}" class="btn btn-border">Leer Más...</a>
    </div>
    {% include social_links.html blog=true %}
  </div>
{% endfor %}
<div class="container-fluid blog">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-lg-3 text-center"></div>
	{% for post in site.categories.blog offset:1 %}
		<div class="col-xs-12 col-md-4 col-lg-3 text-center">
			<div class="blog-post-container {{ post.color }}">
				<img src="/images/blog/{{ post.thumbnail }}" class="img-responsive" alt="{{ post.title }}" />
				<div>
				  <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
				  <!--<span class="date">
				  	{% assign m = post.date | date: "%-m" %}
				  	{{ post.date | date: "%-d" }}
				  	{% case m %}
							{% when '1' %}Enero
							{% when '2' %}Febrero
							{% when '3' %}Marzo
							{% when '4' %}Abril
							{% when '5' %}Mayo
							{% when '6' %}Junio
							{% when '7' %}Julio
							{% when '8' %}Agosto
							{% when '9' %}Septiembre
							{% when '10' %}Octubre
							{% when '11' %}Noviembre
							{% when '12' %}Diciembre
		      	{% endcase %}
		      	{{ post.date | date: "%Y" }}
				  </span>-->
				  <div class="excerpt">{{ post.excerpt }}</div>
				  <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-border">Leer más...</a>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>